# Compilation et déploiement
/build/
/bin/
*.class

# Fichiers de log
*.log

# Dossiers temporaires de serveur (si présents)
/target/
/.metadata/

# Fichiers spécifiques au système
.DS_Store
Thumbs.db

./src/main/java/com/pacman/dao/dao.properties
